{% extends 'base.html.twig' %}

{% block title %}Gsb{% endblock %}

{% block body %}
<header>
        <a class="nav-title-white" href="{{path('gsb')}}">
            <li>GSB - Galaxy Swiss Bourdin</li>
        </a>
        <a class="nav-title-white" href="{{path('app_logout')}}">
            <li><i class="fas fa-sign-out-alt"></i> Déconnexion</li>
        </a>
    </header>

    <section>


                <div class="navigation interact">
            <div class="profil">
                <i class="far fa-user-circle fa-2x"></i>
                <li>Bonjour {{app.user.prenom}}</li>
                <br>
            </div>

            <nav>
                <a href="{{path('saisiefiches')}}" class="interact profil">
                <i class="fas fa-tasks"></i>
                    <li> Saisie fiche de frais</li>
                </a>
                <a href="{{path('mesfiches')}}" class="interact profil">
                <i class="fas fa-tasks"></i>
                    <li>Mes fiches de frais</li>
                </a>
            </nav>
        </div>

        <div class="title">
        <br>
            <h1 class="title-head">Mes fiches de frais</h1>


<br>




<br>

            <div class="champsElementForfaitisé">
                <h1>Mois à sélectionner</h1>
                <br>
                <div class="englobeInput">
                    <input class="inputSaisie" type="date" name="" id="" value="01/10/2021">
                     <button type="submit" class="btn btn-secondary">Confirmer</button>

                </div>

                {# {{ dump(fiches) }} #}
<br>
            <div class="Periode">
                <h1></h1>
            </div>

<br>
<br>
<div class="Fiches-screen">
                {% for fiche in fiches %}
                {% if fiche.users_id == app.user.id %}
                <table class="table table-dark">

<table class="table table-striped bordure">
  <thead>

      <h3 class="tab-color">Frais Au Forfait</h3>

  </thead>
  <tbody>
    <tr>
      <th scope="col">Repas midi </th>
      <th scope="col">Période</th>
      <th scope="col">Nuitée</th>
      <th scope="col">Etape</th>
      <th scope="col">Km</th>
      <th scope="col">Delete</th>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td> {{ fiche.repas_midi}}</td>
      <td>{{ fiche.periode }}</td>
      <td> {{ fiche.nuits }}</td>
      <td>{{ fiche.etape }}</td>
      <td>{{ fiche.km }} km</td>
      <th><a href="{{ path('delete_mesfiches', {'id': fiche.id })  }}">Supprimer fiche</a></th>


    </tr>
  </tbody>
</table>
<div>
{% endif %}
{% endfor %}


<br>
                
    </section>  




{% endblock %}
