{% extends 'base.html.twig' %}

{% block title %}Gsb{% endblock %}

{% block body %}
<header>
        <a class="nav-title-white" href="{{path('gsb')}}">
            <li>GSB - Galaxy Swiss Bourdin</li>
        </a>
        <a class="nav-title-white" href="{{path('app_logout')}}">
            <li><i class="fas fa-sign-out-alt"></i> Déconnexion</li>
        </a>
    </header>

    <section>


                <div class="navigation interact">
            <div class="profil">
                <i class="far fa-user-circle fa-2x"></i>
                <li>Bonjour {{app.user.prenom}}</li>
                <br>
            </div>

            <nav>
 
                <a href="{{path('saisiefiches')}}" class="interact profil">
                <i class="fas fa-tasks"></i>
                    <li> Saisie fiche de frais</li>
                </a>

            <div class="visitePage">    
                <a href="{{path('mesfiches')}}" class="interact profil">
                <i class="fas fa-tasks  visitePageTextColor"></i>
                    <li class="visitePageTextColor">Mes fiches de frais</li>
                </a>
            </div>
            </nav>
        </div>

        <div class="title">
        <br>
            <h1 class="title-head">Mes fiches de frais</h1>


<br>







<br>
<section class="filter">
<div class="periode">
<h3 class="tab-color">Période</h3>
<br>
<input type="month">
<button type="submit" class="btn btn-secondary">Valider</button>
</section>




<br>
<br>
<br>
  <h3 class="title-head2">Au Forfait</h3>
<br>

<section class="fiches-screen">

<div class="Fiches-screen">

{% for fiche in fiches %}

  {% if fiche.users_id == app.user.id %}
  
<table class="table">
  <thead>
      <h3 class="tab-color">Frais Au Forfait</h3>
  </thead>
  <tbody>
    <tr>
      <th scope="col">Repas midi</th>
      <th scope="col">Période</th>
      <th scope="col">Nuitée</th>
      <th scope="col">Etape</th>
      <th scope="col">Km</th>
      <th scope="col">Supprimer</th>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td> {{ fiche.repas_midi}}</td>
      <td>{{ fiche.periode }}</td>
      <td> {{ fiche.nuits }}</td>
      <td>{{ fiche.etape }}</td>
      <td>{{ fiche.km }} km</td>
      <th><a href="{{ path('delete_fichesSalarie', {'id': fiche.id })  }}">Supprimer fiche</a></th>
    </tr>
  </tbody>
</table>


{% endif %}
{# {% if fiche.users_id < 0 %} #}
{% if fiche.users_id != app.user.id %}

<p>Aucune fiche au forfait trouvée</p>

{% endif %}
{% else %}
<p>Aucune fiche au forfait trouvée</p>
{% endfor %}
</div>
</section>

<br>
<br>
    <h3 class="title-head2">Hors Forfait</h3>
<br>


<section class="fiches-screen">

<div class="Fiches-screen">
{% for ficheHorsForfait in ficheHorsForfait %}

  {% if ficheHorsForfait.users_id == app.user.id %}

<table class="table">
  <thead>

      <h3 class="tab-color2">Frais hors Forfait</h3>

  </thead>
  <tbody>
    <tr>
      <th scope="col">Date </th>
      <th scope="col">Libellé</th>
      <th scope="col">Montant</th>
      <th scope="col">Supprimer</th>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td> {{ ficheHorsForfait.date }}</td>
      <td>{{ ficheHorsForfait.libelle }}</td>
      <td> {{ ficheHorsForfait.montant }} €</td>
      <th><a href="{{ path('delete_ficheshorsSalarie', {'id': ficheHorsForfait.id })  }}">Supprimer fiche</a></th>


    </tr>
  </tbody>
</table>

{% endif %}
{% if ficheHorsForfait.users_id != app.user.id %}


<p>Aucune fiche hors forfait trouvée</p>

{% endif %}
{% else %}
<p>Aucune fiche hors forfait trouvée</p>

{% endfor %}
<br>
</div>
</section>


{% endblock %}
