{% extends 'base.html.twig' %}

{% block title %}Gsb{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
{# Menu de navigation #}
    <header>
        <a class="nav-title-white" href="{{path('gsb')}}">
            <li>GSB - Galaxy Swiss Bourdin</li>
        </a>
        <a class="nav-title-white" href="{{path('app_logout')}}">
            <li><i class="fas fa-sign-out-alt"></i> Déconnexion</li>
        </a>
    </header>

    <section>

{# Tableau de bord #}
        <div class="navigation interact">
            <div class="profil">
                <i class="far fa-user-circle fa-2x"></i>
                <li>Bonjour {{app.user.prenom}}</li>
                <br>
            </div>

            <nav>
            <div class="visitePage">
                <a href="{{path('saisiefiches')}}" class="interact profil">
                <i class="fas fa-tasks visitePageTextColor"></i>
                    <li class="visitePageTextColor"> Saisie fiche de frais</li>
                </a>
            </div>    
                <a href="{{path('mesfiches')}}" class="interact profil">
                <i class="fas fa-tasks"></i>
                    <li>Mes fiches de frais</li>
                </a>
            </nav>
        </div>

        <div class="title">
        <br>
            <h1 class="title-head">Saisie fiche de frais</h1>

        <br>

{# Affichage de la période en cours #}
<section class="filter">
  <div class="periode">
    <h3 class="tab-color">PÉRIODE D'ENGAGEMENT</h3>
      <br>
    <h3>{{ "now" | date("F Y") }}</h3>
</section>
  <br>
    <br>
  <br>

{# Affichage du formualaire de saisie fiche de frais au forfait #}
<section class="fiches-screen">
  <div class="Fiches-screen">          
    <table class="table">
      <thead>
      <h3 class="tab-color">Frais au forfait</h3>
        {{ form_start(form) }}
      </thead>

        <tbody>
          <tr>
            <th>{{ form_row(form.repas_midi, {'attr':{'placeholder':'0'}}) }}</th>
            <th>{{ form_label(form.periode, 'periode')}} {{ form_widget(form.periode, {'value':  ("now" | date("m/Y")) , 'attr' : {'disabled' : 'disabled'}})}}</th>
            <th>{{ form_row(form.nuits,  {'attr':{'placeholder':'0'}})}}</th>
            <th>{{ form_row(form.etape, {'attr':{'placeholder':'0'}})}}</th>
            <th>{{ form_row(form.km, {'attr':{'placeholder':'0'}})}}</th>
            <th></th>
          </tr>
        </tbody>
      </table>
      <button type="submit" class="btn btn-secondary">Valider</button>
        {{ form_end(form) }}

      <br>
  <a href="{{path('saisiefichesHorsForfait')}}" class="interact profil">
    <p>Voulez vous saisir une fiche de type hors forfait ?</p>
  </a>
{% endblock %}
