{% extends 'base.html.twig' %}

{% block title %}Gsb{% endblock %}

{% block body %}
    <header>
        <a class="nav-title-white" href="{{path('gsb')}}">
            <li>GSB - Galaxy Swiss Bourdin</li>
        </a>
        <a class="nav-title-white" href="{{path('app_logout')}}">
            <li><i class="fas fa-sign-out-alt"></i> Déconnexion</li>
        </a>
    </header>

    <section>


        <div class="navigation interact">
            <div class="profil">
                <i class="far fa-user-circle fa-2x"></i>
                <li>{{app.user.nom}} {{app.user.prenom}}</li>
                <br>
            </div>

            <nav>
                <a href="{{path('saisiefiches')}}" class="interact profil">
                <i class="fas fa-tasks"></i>
                    <li> Saisie fiche de frais</li>
                </a>
                <a href="{{path('mesfiches')}}" class="interact profil">
                <i class="fas fa-tasks"></i>
                    <li>Mes fiches de frais</li>
                </a>
            </nav>
        </div>

        <div class="title">
        <br>
            <h1 class="title-head">Saisie fiche de frais</h1>

<br>


            <div class="champsElementForfaitisé">
            <br>
                <h1>Elements Forfaitisés</h1>
                <br>
                <div class="englobeInput">

{{ form_start(form) }}
{{ form_row(form.repas_midi)}}
{{ form_row(form.periode)}}
{{ form_row(form.nuits)}}
{{ form_row(form.etape)}}
{{ form_row(form.km)}}

<button type="submit"> Valider </button>
{{ form_end(form) }}

                </div>

                <div class="champsElementForfaitisé">
                <br>
                    <h1>Nouvel élément hors forfait</h1>
                    <br>
                    <div class="englobeInput">

           

                    </div>

                    <div class="champsElementForfaitisé">



                    </div>


                    <div class="champsButton">
                        <input type="button" value="Valider">
                        <input type="button" value="Effacer">
                    </div>
                </div>
    </section>




{% endblock %}
