{% extends 'base.html.twig' %}

{% block title %}Gsb{% endblock %}

{% block body %}
    <header>
        <a class="nav-title-white" href="{{path('gsb')}}">
            <li>GSB - Galaxy Swiss Bourdin</li>
        </a>
        <a class="nav-title-white" href="{{path('app_logout')}}">
            <li><i class="fas fa-sign-out-alt"></i> Déconnexion</li>
        </a>
    </header>

    <section>


        <div class="navigation interact">
            <div class="profil">
                <i class="far fa-user-circle fa-2x"></i>
                <li>Bonjour {{app.user.prenom}}</li>
                <br>
            </div>

            <nav>
                <a href="{{path('saisiefiches')}}" class="interact profil">
                <i class="fas fa-tasks"></i>
                    <li> Saisie fiche de frais</li>
                </a>
                <a href="{{path('mesfiches')}}" class="interact profil">
                <i class="fas fa-tasks"></i>
                    <li>Mes fiches de frais</li>
                </a>
            </nav>
        </div>

        <div class="title">
        <br>
            <h1 class="title-head">Saisie fiche de frais</h1>

<br>


            <div class="champsElementForfaitisé">
            <br>
                <h1>Element à Forfaitiser</h1>
                <br>
                <div class="englobeInput">
                {{ form_start(form) }}
<table class="table">
  <tbody>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>{{ form_row(form.repas_midi)}}</td>
      <td>{{ form_row(form.periode)}}</td>
      <td>{{ form_row(form.nuits)}}</td>
      <td>{{ form_row(form.etape)}}</td>
      <td>{{ form_row(form.km)}}</td>
    </tr>
  </tbody>
</table>







<button type="submit" class="btn btn-secondary">Valider</button>
{{ form_end(form) }}

                </div>

                <div class="champsElementForfaitisé">
                <br>
                    <h1>Nouvel élément hors forfait</h1>
                    <br>
                    <div class="englobeInput">

           

                    </div>

                    <div class="champsElementForfaitisé">



                    </div>


                    <div class="champsButton">
<button type="submit" class="btn btn-secondary">Valider</button>
                    </div>
                </div>
    </section>




{% endblock %}
