{% extends 'base.html.twig' %}

{% block title %}Gsb{% endblock %}

{% block body %}



<header>
      <a class="nav-title-white" href="{{path('gsb')}}">
            <li>GSB - Galaxy Swiss Bourdin</li>
        </a>
        <a class="nav-title-white" href="{{path('app_logout')}}">
            <li><i class="fas fa-sign-out-alt"></i> Déconnexion</li>
        </a>
    </header>

    <section>


        <div class="navigation interact">
            <div class="profil">
                <i class="far fa-user-circle fa-2x"></i>
                <li>{{app.user.nom}} {{app.user.prenom}}</li>
                <br>
            </div>

            <nav>
                    <a href="{{ path('app_validation') }}" class="interact profil">
                    <i class="fas fa-tasks"></i>
                    <li> Validation Fiche </li>
                    </a>

                    <a href="{{ path('app_validation') }}" class="interact profil">
                    <i class="fas fa-tasks"></i>
                    <li> Suivie Fiche </li>
                    </a>
            </nav>
        </div>






        <div class="title">
        <br>
            <h1 class="title-head">Validation des frais par visiteur</h1>
        <div>

<br>
<section class="filter">
<div class="periode">
<h3 class="tab-color">Période</h3>
<br>
<input type="month">
<button type="submit" class="btn btn-secondary">Valider</button>
</section>

<br>
<br>
            

              




































<section class="fiches-screen">
<div class="Fiches-screen">
                {% for fiche in fiches %}
                <table class="table table-dark">

<table class="table table-striped bordure">
  <thead>

      <h3 class="tab-color">Frais Au Forfait</h3>

  </thead>
  <tbody>
    <tr>
      <th scope="col">Repas midi </th>
      <th scope="col">Période</th>
      <th scope="col">Nuitée</th>
      <th scope="col">Etape</th>
      <th scope="col">Km</th>
      <th scope="col">Salarié</th>
      <th scope="col">Delete</th>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td> {{ fiche.repas_midi}}</td>
      <td>{{ fiche.periode }}</td>
      <td> {{ fiche.nuits }}</td>
      <td>{{ fiche.etape }}</td>
      <td>{{ fiche.km }} km</td>
      <td>{{app.user.nom}} {{app.user.prenom}}</td>
      <th><a href="{{ path('delete_fiches', {'id': fiche.id })  }}">Supprimer fiche</a></th>


    </tr>
  </tbody>
</table>
<div>

{% endfor %}

<div class="Fiches-screen">
                {% for ficheHorsForfait in ficheHorsForfait %}
                <table class="table table-dark">

<table class="table table-striped bordure">
  <thead>

      <h3 class="tab-color2">Frais hors Forfait</h3>

  </thead>
  <tbody>
    <tr>
      <th scope="col">Date </th>
      <th scope="col">Libellé</th>
      <th scope="col">Montant</th>
      <th scope="col">Salarié</th>
      <th scope="col">Delete</th>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td> {{ ficheHorsForfait.date}}</td>
      <td>{{ ficheHorsForfait.libelle }}</td>
      <td> {{ ficheHorsForfait.montant }} €</td>
        <th>{{app.user.nom}} {{app.user.prenom}}</th>
      <th><a href="{{ path('delete_ficheshors', {'id': ficheHorsForfait.id })  }}">Supprimer fiche</a></th>


    </tr>
  </tbody>
</table>
<div>
{% endfor %}
<br>
</section>



{% endblock %}
