{% extends 'base.html.twig' %}

{% block title %}Gsb{% endblock %}

{% block body %}



<header>
      <a class="nav-title-white" href="{{path('gsb')}}">
            <li>GSB - Galaxy Swiss Bourdin</li>
        </a>
        <a class="nav-title-white" href="{{path('app_logout')}}">
            <li><i class="fas fa-sign-out-alt"></i> Déconnexion</li>
        </a>
    </header>

    <section>


        <div class="navigation interact">
            <div class="profil">
                <i class="far fa-user-circle fa-2x"></i>
                <li>{{app.user.nom}} {{app.user.prenom}}</li>
                <br>
            </div>

            <nav>
            <div class="visitePage">
                    <a href="{{ path('app_validation') }}" class="interact profil">
                    <i class="fas fa-tasks visitePageTextColor"></i>
                    <li class="visitePageTextColor"> Validation Fiche </li>
                    </a>
            </div>
                    <a href="{{ path('app_suivrePaiement') }}" class="interact profil">
                    <i class="fas fa-tasks"></i>
                    <li> Suivie Fiche </li>
                    </a>
            </nav>
        </div>


  <div class="title">
    <br>
      <h1 class="title-head">Validation des frais par visiteur</h1>
  <div>

<br>
<section class="filter">

  <div class="periode">
    <h3 class="tab-color">Période</h3>
      <br>
    <h3>{{ "now" | date("F Y") }}</h3>
</section>


<br>
<br>
<br>
  <h3 class="title-head2">Au Forfait</h3>
<br>

<section class="fiches-screen">

<div class="Fiches-screen">

    {% for fiche in fiches %}

    {% if fiche.periode == "now" | date("m/Y") %}

<table class="table">
  <thead>
    <h3 class="tab-color">Frais Au Forfait</h3>
  </thead>
  <tbody>
    <tr>
      <th scope="col">Repas midi </th>
      <th scope="col">Période</th>
      <th scope="col">Nuitée</th>
      <th scope="col">Etape</th>
      <th scope="col">Km</th>
      <th scope="col">Salarié</th>
      <th scope="col">Etat</th>
      {# <th scope="col">info fiche</th> #}
      <th scope="col">Delete</th>
      <th class="{{ (fiche.etat == true) ? 'etatValide' : 'etatNonValide'}}"></th>


    </tr>
  </tbody>
  <tbody>
    <tr>
      <td> {{ fiche.repas_midi}}</td>
      <td>{{ fiche.periode }}</td>
      <td> {{ fiche.nuits }}</td>
      <td>{{ fiche.etape }}</td>
      <td>{{ fiche.km }} km</td>
      <td>{{fiche.users.nom}} {{fiche.users.prenom}}</td>
      <td><a href="{{ path('app_validationEtat', {'fichefrais': fiche.id, 'etat': 1 })  }}">Valider</a> <br> <a href="{{ path('app_validationEtat', {'fichefrais': fiche.id, 'etat': 0 })  }}">Non valide</a></td>
      <th><a href="{{ path('delete_fiches', {'id': fiche.id })  }}">Supprimer fiche</a></th>
      <th class="{{ (fiche.etat == true) ? 'etatValide' : 'etatNonValide'}}"></th>

    </tr>
  </tbody>
</table>
{% endif %}
{% else %}
<p>Aucune fiche au forfait trouvée</p>

{% endfor %}
</div>
</section>

<br>
<br>
    <h3 class="title-head2">Hors Forfait</h3>
<br>
<section class="fiches-screen">

<div class="Fiches-screen">


  {% for ficheHorsForfait in ficheHorsForfait %}
<table class="table">
  <thead>
    <h3 class="tab-color2">Frais hors Forfait</h3>
  </thead>
  <tbody>
    <tr>
      <th scope="col">Date </th>
      <th scope="col">Libellé</th>
      <th scope="col">Montant</th>
      <th scope="col">Salarié</th>
      <th scope="col">Etat</th>
      <th scope="col">Delete</th>
      <th class="{{ (ficheHorsForfait.etat == true) ? 'etatValide' : 'etatNonValide'}}"></th>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td> {{ ficheHorsForfait.date}}</td>
      <td>{{ ficheHorsForfait.libelle }}</td>
      <td> {{ ficheHorsForfait.montant }} €</td>
      <td>{{app.user.nom}} {{app.user.prenom}}</td>
      <td><a href="{{ path('app_validationEtatHorsForfait', {'ficheHorsForfait': ficheHorsForfait.id, 'etat': 1 })  }}">Valider</a> <br> <a href="{{ path('app_validationEtatHorsForfait', {'ficheHorsForfait': ficheHorsForfait.id, 'etat': 0 })  }}">Non valide</a></td>
      <th><a href="{{ path('delete_ficheshors', {'id': ficheHorsForfait.id })  }}">Supprimer fiche</a></th>
      <th class="{{ (ficheHorsForfait.etat == true) ? 'etatValide' : 'etatNonValide'}}"></th>

    </tr>
  </tbody>
</table>
{% else %}
<p>Aucune fiche hors forfait trouvée</p>
{% endfor %}



    <br>

</div>
</section>



{% endblock %}
